
.acceuil{
    border: 3px solid black;
    height: 500px;
    width: 85%;
    margin:auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    transform: translate(0, 100px);
}
.photo{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.photo img{
    display: block;
  pointer-events: none;
  width: 100%;
}
.infos{
    text-align: left;
    padding-left: 25px;
    display: flex;
  flex-direction: column;

  justify-content: space-between; /* ou flex-end */
}
.infos h1{
    font-size: 50px;
}
.infos .link{
    margin-top: auto;
}
