.main {
    
    padding: 10px;
    width: 1024px;
    display: flex;
  flex-direction: column;
    margin:auto;

  justify-content: space-between;
  text-align: center;
}
.martiniere{
    background-image: url("/assets/martiniere.png");
    height: 576PX;
    display: grid;

    grid-template-columns: 1fr 1fr ;

}
.upLeftM{
    text-align: left;
    transform: translate(30px);
    padding-left:120px;
    font-size: 25px;

}
.upLeftM a{
    color: black;

}
.upRightM{
    text-align: right;
    padding-left: 150px;
    padding-right: 15px;
    font-size: 15px;
    color: white;

}
.down{
    margin-top: auto;
    color: white;
}
.LeftM{
    font-size: 25px;
    padding-right: 50px;
}
.LeftM a{
    color: white;
}
.RightM{
    transform: translate(-80px);
    font-size: 20px;

}
.rameau{
    height: 576PX;
    display: grid;

    grid-template-columns: 1fr 2fr ;
    padding-top: 15px;

}
.LeftR{
    font-size: 20px;
    padding: 20px;
    text-align: left;

}
.RightR{
    overflow: hidden;
    height:300px
}
.rameau img{
  width: 170%;


}
.rameau p{
    margin: 0px;
}
.rameau h1{
    margin: 0px;
    font-size: 40px;
}
#text{
  pointer-events: none;
    position: relative;
    padding: 10px;
    font-size: 20px;
}