.dates{
    transition: 0.5s;
    height: 0px;
    overflow: hidden;

}
.btn{
    cursor: pointer;
}
.semaine{
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.semaine img{
    width: 150px;
}